<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <appSettings>
    <add key="DBName" value="CMS"/>
    <add key="DevUsername" value="sbehara"/>
    <add key="DevPassword" value="Support#1"/>
    <add key="DevServerName" value="DV2-P-DB-CMS-01.tmsdev2.com"/>

    <add key="ProdUsername" value="sbehara"/>
    <add key="ProdPassword" value=""/>
    <add key="ProdServerName" value="PRD-P-DB-CMS-01.tmsoffice.com"/>
    <add key="BCPBatchSize" value="10000"/>    
    
    <add key="LoadTableName" value="cms.dbo.archivedocumentfromdbstore"/>
    <add key="ImportFileName" value="C:\Projects\ArchiveDocProject\ImportArchiveDocument.csv"/>
    <add key="ExportFileName" value="C:\Projects\ArchiveDocProject\ExportArchiveDocument.csv"/>
    <add key="ImportLogFileName" value="C:\Projects\ArchiveDocProject\ImportLogFile.log"/>
    <add key="ExportLogFileName" value="C:\Projects\ArchiveDocProject\ExportLogFile.log"/>
    <add key="BCPOutputFileName" value="C:\Projects\ArchiveDocProject\BCPOutputFile.log"/>
    <add key="NotFoundRecordsFileName" value="C:\Projects\ArchiveDocProject\FileNotFoundRecords.csv"/>
    <add key="FoundButFailedRecordsFileName" value="C:\Projects\ArchiveDocProject\FailedRecords.csv"/>
    <add key="PathToBCPProgram" value="C:\Program Files\Microsoft SQL Server\110\Tools\Binn\bcp"/>
    <add key="PathToRootSource" value="\\files\dbstore$\"/>
    <add key="PathToRootMerchants" value="\\files\dbstore$\Merchants"/>
    <add key="PathToRootDestination" value="C:\Projects\ArchiveDocProject\CSVs"/>
    <add key="PathToLoadDataCSVs" value="C:\Projects\ArchiveDocProject\LoadCSV"/>
    <add key="ImportFileDelimiter" value="~"/>
    <add key="ExportFileDelimiter" value="~"/>
  </appSettings>
</configuration>